
<html>
  
<head>

    <style>
        .i-am-centered {
            margin: auto;
            max-width: 300px;
            padding-top: 5%;
        }
    </style>
</head>
  
<body>


    <h2>Create New User Account</h2>

    {% if form.errors %}{{ forms.errors }}{% endif %}



        <form method="POST">
            {% csrf_token %}
    
            <label for="id_first_name">First name:</label>
            <input type="text" name="first_name" maxlength="150" id="id_first_name"><br>
            <br>
            <br>
            <label for="id_last_name">Last name:</label>
            <input type="text" name="last_name" maxlength="150" id="id_last_name"><br>
            <br>
            <br>
            <label for="id_email">Email address:</label>
            <input type="email" name="email" maxlength="254" id="id_email"><br>
            <br>
            <br>
            <label for="id_username">Username:</label>
            <input type="text" name="username" maxlength="150" autofocus required id="id_username"><br>
            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span><br>
            <br>
            <br>
            <label for="id_password">Password:</label>
            <input type="text" name="password" maxlength="128" required id="id_password"><br>
            <br>
            <br>
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1"><br>
            <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span><br>
            <br>
            <br>
            <label for="id_password2">Password confirmation:</label>
            <input type="password" name="password2" autocomplete="new-password" required id="id_password2"><br> 
            <br>
            <input type="submit" value="Signup">

        </form>

</body>
  
</html>